<h2>About</h2>
[Photo of me]
<p>
    HK Bookkeeping offers a professional, friendly and personal service tailor made to suit your individual business
    requirements at an affordable price.
    A local service based in Winslow, Buckinghamshire, covering the surrounding areas including Buckingham, Aylesbury
    and Milton Keynes.
</p>
<p>
    A Fellow member of the International Association of Bookkeepers, Helen has over 20 years + experience specialising
    in Accounts and Payroll Services for the Self-Employed, Sole Trader, Partnership and Small Limited Company.
    Flexible and confidential appointments can be arranged to suit including evenings and weekends. The initial
    consultation is free and without obligation.
</p>
