<section id="about" class="section">
    <picture class="section__photo section__photo--left">
        <source srcset="/images/helen-kemp.webp 1x, /images/helen-kemp-@x2.webp 2x" type="image/webp">
        <source srcset="/images/helen-kemp.jpg 1x, /images/helen-kemp-@x2.jpg 2x" type="image/jpg">
        <img src="/images/helen-kemp.jpg" alt="Helen Kemp" width="600" height="450" />
    </picture>

    <h2 class="section__heading">About</h2>

    <div class="section__content">
        <p>
            HK Bookkeeping offers a professional, friendly and personal service which is tailor made to suit your individual business requirements at an affordable price.
            A local service based in Winslow, Buckinghamshire, covering the surrounding areas including Buckingham, Aylesbury and Milton Keynes.
        </p>
        <p>
            A Fellow member of the International Association of Bookkeepers, Helen has over 20 years+ experience specialising in Accounts and Payroll Services for the Self-Employed, Sole Trader, Partnership and Small Limited Company.
            Flexible and confidential appointments can be arranged to suit including evenings and weekends.
            The initial consultation is free and without obligation.
        </p>
    </div>
</section>
