<section class="section" aria-labelledby="bookkeeping">
    <picture class="section__photo">
        <source srcset="./images/bookkeeping.webp 1x, ./images/bookkeeping-@x2.webp 2x" media="(min-width: 500px)" type="image/webp">
        <source srcset="./images/bookkeeping.jpg 1x, ./images/bookkeeping-@x2.jpg 2x" media="(min-width: 500px)" type="image/jpg">
        <source srcset="./images/bookkeeping.webp" type="image/webp">
        <source srcset="./images/bookkeeping.jpg" type="image/jpg">
        <img src="./images/bookkeeping.jpg" alt="Laptop running bookkeeping and payroll software" width="600" height="450" />
    </picture>

    <h2 id="bookkeeping" class="section__heading">Bookkeeping</h2>

    <div class="section__content">
        <p>
            Good bookkeeping is the foundation of any successful business.
            Our practical down to earth and friendly approach provides clients with information that enables them to understand and make decisions to take their business forward.
        </p>
        <p>
            We provide a full range of bookkeeping services including: VAT, Budgeting, Credit Control and Cash flow forecasting.
            Please contact us to discuss your specific requirements.
        </p>

    </div>
</section>
