<section id="bookkeeping" class="section">
    <picture class="section__photo">
        <source srcset="/assets/helen-kemp.webp 1x, /assets/helen-kemp-@x2.webp 2x" type="image/webp">
        <source srcset="/assets/helen-kemp.jpg 1x, /assets/helen-kemp-@x2.jpg 2x" type="image/jpg">
        <img src="/assets/helen-kemp.jpg" alt="Helen Kemp" width="600" height="450" />
    </picture>

    <h2 class="section__heading">Bookkeeping</h2>

    <div class="section__content">
        <p>
            Good bookkeeping is the foundation of any good business.
            Our practical down to earth and friendly approach provides clients with information that enables them to understand
            and make decisions to take their business forward.
        </p>
        <p>
            We provide a full range of bookkeeping services including:
            Vat, Budgeting, Credit Control and Cash flow forecasting
            Please contact us to discuss your specific requirements
        </p>

    </div>
</section>
