<section id="payroll" class="section">
    <picture class="section__photo section__photo--left">
        <source srcset="/images/payroll.webp 1x, /images/payroll-@x2.webp 2x" type="image/webp">
        <source srcset="/images/payroll.jpg 1x, /images/payroll-@x2.jpg 2x" type="image/jpg">
        <img src="/images/payroll.jpg" alt="Payroll" width="600" height="450" />
    </picture>

    <h2 class="section__heading">Payroll</h2>

    <div class="section__content">
        <p>
            Managing a payroll, especially as your business grows can be a very complex and time-consuming process. With our
            flexible choice of solutions, we deliver a service that retains all the personal feel of an in-house payroll, with
            all the cost
            effectiveness of outsourcing.
        </p>
        <p>
            Existing Employers: - free set up of your payroll
            We do not charge an initial fee when you move your payroll across to us. Our service guarantees compliance with all
            payroll legislation and statutory requirements.
        </p>
        <p>
            New Employers:
            New PAYE Scheme’s can be set up with HMRC together with an auto enrolment Pension Scheme.
        </p>
        <p>
            Auto Enrolment:
            We make running your pension scheme easy by providing full auto enrolment support as part of our payroll services-
            providing you a stress-free way of fulfilling your legal obligations.
            Please contact us with your specific payroll requirements so we can provide you with a quotation.
        </p>
    </div>
</section>
