<section id="taxation" class="section">
    <picture class="section__photo">
        <source srcset="/images/taxation.webp 1x, /images/taxation-@x2.webp 2x" type="image/webp">
        <source srcset="/images/taxation.jpg 1x, /images/taxation-@x2.jpg 2x" type="image/jpg">
        <img src="/images/taxation.jpg" alt="Taxation" width="600" height="450"/>
    </picture>

    <h2 class="section__heading">Taxation</h2>

    <div class="section__content">
        <span>
            Services include:
        </span>
        <ul>
            <li>Self-Assessment</li>
            <li>Partnership</li>
            <li>
                Limited Company Corporation Tax
            </li>
        </ul>
        <p>
            We offer all our clients tax planning reviews to keep your tax liability to a minimum ensuring all statutory
            deadlines are met.
            <br>
            Fixed priced solutions available.
        </p>
    </div>
</section>
